# DBs & Ollama urls
SQLITE_URL=sqlite:///./chats.db
POSTGRESQL_URL=postgresql://user:password@localhost/users
OLLAMA_URL=http://127.0.0.1:11434

# Auth enviroment variables
SECRET_KEY=ad8f9c8490c04b018490c00c0d8f9d8f904b018490c00c0d8f9d
ALGORITHM=HS256
ACCESS_TOKEN_EXPIRE_MINUTES=60

# Seeded users
DEFAULT_USER_USERNAME="user"
DEFAULT_USER_PASSWORD="user123"
DEFAULT_ADMIN_USERNAME="admin"
DEFAULT_ADMIN_PASSWORD="admin123"
